/* 
 * Class naming scheme borrowed from rscss (https://rstacruz.github.io/rscss/index.html)
 *   - hypen-case for components
 *   - singleword for component elements
 *   - -appended-hypen for variant classes
 */

@scope (.global-navbar) {
    background-color: var(--color-aside-bg);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    padding: 0.75rem 0.25rem;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--layout-global-aside-width);

    @media print {
        display: none;
    }

    > .last {
        margin-top: auto;
    }

    > button {
        height: 3rem;
        width: 3rem;
        font-size: 1.25rem;
    }

    > hr {
        width: 75%;
        border: none;
        border-top: 1px solid var(--color-bg-1-border);
    }
}

@scope (.local-navbar) {
    background-color: var(--color-bg-1);
    border: 1px solid var(--color-bg-1-border);
    border-radius: var(--border-radius-capsule);

    position: sticky;
    bottom: var(--layout-main-block-padding);
    margin-top: auto;
    max-height: calc(100vh - var(--layout-main-block-padding) * 2);
    height: fit-content;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
    width: var(--layout-local-aside-width);
    padding: 0.25rem;
    gap: 0.25rem;

    > button {
        height: 3rem;
        width: 3rem;
        font-size: 1.25rem;
    }

    @media (max-width: 600px) {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        opacity: 50%;
    }
}

@scope (.problem-header) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "title title"
                         "left right";
    gap: 0.5rem;

    > h1 {
        grid-area: title;
        font-size: var(--text-title);
        font-weight: var(--text-title--font-weight);
        letter-spacing: var(--text-title--letter-spacing);
    }

    > .problemid {
        font-family: var(--font-mono);
        color: var(--color-fg-2);
    }

    > :not(.right, h1) {
        grid-area: left;
    }

    > .right {
        grid-area: right;
    }

    @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-areas: "title"
                             "left"
                             "right";
        > .right {
            justify-self: end;
        }
    }
}

@scope (.text-contents) {
    h1, h2 {
        border-block-end: 1px solid var(--color-bg-2-border);
        padding-block-end: 0.4rem;
    }

    h1 {
        font-size: var(--text-title);
        font-weight: var(--text-title--font-weight);
        letter-spacing: var(--text-title--letter-spacing);
    }

    h2 {
        font-size: var(--text-headline1);
        font-weight: var(--text-headline1--font-weight);
        letter-spacing: var(--text-headline1--letter-spacing);
    }

    h3 {
        font-size: var(--text-headline2);
        font-weight: var(--text-headline2--font-weight);
        letter-spacing: var(--text-headline2--letter-spacing);
    }

    h4 {
        font-size: var(--text-headline3);
        font-weight: var(--text-headline3--font-weight);
    }

    figure {
        text-align: center;
        > img {
            display: inline-block;
        }
        > figcaption {
            font-size: var(--text-body2);
            color: var(--color-fg-1);
        }
    }

    *+*:not(li,span,section,figcaption) {
        margin-block-start: 1em;
    }
}

@scope (.two-columns) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--layout-main-width) * 0.3), 1fr));
    gap: 2rem 1rem;

    > * {
        flex: 1;
        margin-block-start: 0;

        > :first-child {
            margin-block-start: 0;
        }
    }
}

@scope (.avatar-picture) {
    outline-color: transparent;
    outline-offset: 2px;
    transition: background-color 0.2s, outline 0.1s, color 0.3s;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--border-radius-capsule);
    overflow: clip;
    border: 1px solid var(--color-primary);

    padding: 0;

    > img {
        width: 100%;
        height: fit-content;
        object-fit: contain;
    }
}