@import url("theme.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* elements */

a:any-link {
    color: var(--color-primary-500);
    text-decoration: none;
    transition: color 0.1s ease-out;

    &:hover {
        color: var(--color-primary-400);
        text-decoration: underline;
    }
}

button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 999px;
    background-color: var(--color-primary-500);
    color: var(--color-neutral-50);
    font-size: var(--text-body1);
    cursor: pointer;
    transition: background-color 0.3s, outline 0.1s, color 0.3s;

    outline-color: transparent;

    &:hover {
        background-color: var(--color-primary-700);
    }

    &:focus-visible {
        outline: 2px solid var(--color-primary-700);
        outline-offset: 2px;
    }

    &:active {
        color: var(--color-neutral-100);
        background-color: var(--color-primary-800);
        outline-offset: 1px;
    }

    &[disabled] {
        background-color: var(--color-neutral-700);
        color: var(--color-neutral-500);
        cursor: not-allowed;
    }

    &.outlined {
        background: none;
        border: 1px solid var(--color-neutral-100);
        color: var(--color-neutral-100);

        &:hover {
            background-color: var(--color-neutral-100);
            color: var(--color-neutral-900);
        }

        &:focus-visible {
            outline: 2px solid var(--color-neutral-100);
            outline-offset: 2px;
        }

        &:active {
            color: var(--color-neutral-900);
            background-color: var(--color-neutral-300);
            outline-offset: 1px;
        }

        &[disabled] {
            border-color: var(--color-neutral-600);
            color: var(--color-neutral-600);
        }
    }

    &.iconed {
        width: 2.25em;
        height: 2.25em;
        border-radius: 50%;
        display: grid;
        place-items: center;
        padding: 0;
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    padding: 0.5em;
    background-color: var(--color-neutral-900);
    border: 1px solid var(--color-neutral-700);
    color: var(--color-neutral-50);
    font-size: var(--text-body1);
    border-radius: 4px;
    transition: border-color 0.2s, background-color 0.1s;

    resize: vertical;
    min-height: 4ch;

    &:focus {
        background-color: var(--color-neutral-800);
        border-color: var(--color-primary-500);
        outline: none;
    }

    &::placeholder {
        color: var(--color-neutral-500);
    }

    &[disabled] {
        background-color: var(--color-neutral-800);
        border-color: var(--color-neutral-600);
        color: var(--color-neutral-500);
        cursor: not-allowed;
    }

    &.mono {
        font-family: var(--font-mono);
    }
}

input[type="checkbox"].toggle-switch {
    appearance: none;
    width: 32px;
    height: 16px;
    background-color: var(--color-neutral-500);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;

    &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        background-color: var(--color-neutral-50);
        border-radius: 50%;
        transition: transform 0.1s ease-out;
    }

    &:checked {
        background-color: var(--color-primary-500);

        &::before {
            transform: translateX(16px);
        }
    }
}

label.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    padding-inline-start: 0.5em;
    padding-inline-end: 0.5em;

    background-color: var(--color-neutral-900);
    border: 1px solid var(--color-neutral-700);
    border-radius: 4px;
    transition: border-color 0.2s, background-color 0.1s;

    font-size: var(--text-body1);
    color: var(--color-neutral-400);
    user-select: none;

    overflow-x: hidden;
    text-overflow: ellipsis;

    &:focus-within {
        background-color: var(--color-neutral-800);
        border-color: var(--color-primary-500);
        outline: none;
    }

    span {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    input {
        flex: 1;
        padding: 0;
        border: none;
        background: none !important;
        padding-block: 0.5em;
        color: var(--color-neutral-50);
        min-width: 40%;
    }
}


label.col {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    font-size: var(--text-body1);
    color: var(--color-neutral-200);
}

fieldset.row {
    border: none;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 0.5em;
    justify-content: center;
}

div.button-group {
    display: grid;
    grid-template-columns: 2.25em 1fr 2.25em;

    width: 100%;
    gap: 0.5em;
    align-self: center;
    margin-block-start: 1.5em;
    justify-items: center;
    align-items: center;

    & > span {
        opacity: 60%;
    }
}

dialog {
    z-index: 100;
    display: none;
    
    border: none;
    background-color: transparent;
    color: var(--color-neutral-100);

    /* somewhat evil hack */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.4);
    }

    &:open {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > :first-child {
        background-color: var(--color-neutral-900);
        border: 1px solid var(--color-neutral-700);
        border-radius: 8px;

        max-width: 80vw;
        padding-block: 0.75em;

        > header {
            width: 100%;
            padding-inline: 0.75em;
            padding-block-end: 0.75em;
            border-bottom: 1px solid var(--color-neutral-800);

            h2 {
                font-size: var(--text-body1);
            }
        }

        > :nth-child(2) {
            padding: 0.75em;
        }
    }
}

small {
    font-size: var(--text-caption);
    opacity: 0.75;
}
