@import url("theme.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* elements */

a:any-link {
    color: var(--color-primary-500);
    text-decoration: none;
    transition: color 0.1s ease-out;

    &:hover {
        color: var(--color-primary-400);
        text-decoration: underline;
    }
}

button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    background-color: var(--color-primary-500);
    color: var(--color-neutral-50);
    font-size: var(--text-body1);
    cursor: pointer;
    transition: background-color 0.3s, outline 0.2s;

    &:hover {
        background-color: var(--color-primary-700);
    }

    &:focus-visible {
        outline: 2px solid var(--color-primary-700);
        outline-offset: 2px;
    }

    &:active {
        color: var(--color-neutral-100);
        background-color: var(--color-primary-800);
        outline-offset: 1px;
    }
}

input[type="checkbox"].toggle-switch {
    appearance: none;
    width: 32px;
    height: 16px;
    background-color: var(--color-neutral-500);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;

    &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        background-color: var(--color-neutral-50);
        border-radius: 50%;
        transition: transform 0.1s ease-out;
    }

    &:checked {
        background-color: var(--color-primary-500);

        &::before {
            transform: translateX(16px);
        }
    }
}
