body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
 
    padding-block: var(--layout-main-block-padding);
    padding-inline-start: var(--layout-global-aside-width);
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: var(--layout-main-width);
    width: 100%;

    > header, > section {
        background-color: var(--color-bg-1);
        border: 1px solid var(--color-bg-1-border);
        border-radius: var(--border-radius-sml);
        padding: 1.5rem 2rem;
    }
}
